* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --grid-columns: repeat(3, 1fr);
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
  width: 100%;
}
main {
  display: grid;
  grid-template-rows: 40px 80px 1fr 80px;
  max-width: 768px;
  margin: 0;
  gap: 4px;
}

.blocks {
  width: 100%;
  display: grid;
  grid-template-columns: var(--grid-columns);
  gap: 4px;
  /* max-height: calc(88px * 6); */
  /* overflow: hidden; */
  justify-content: space-between;
  /* max-height: calc(100dvh - 40px - 80px - 80px); */
  /* height: 100%; */
}
.block > img {
  width: auto;
  height: 100%;
}

.block {
  display: flex;
  max-height: calc(calc(calc(100dvh - 40px - 80px - 80px) / 6) - 4px);
  height: 100%;
  max-width: calc(100vw / 3);
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  overflow: hidden;
}

@media (max-width: 768px) {
  :root {
    --grid-rows: auto;
  }
}
@media (max-width: 425px) {
}
@media (max-width: 320px) {
}

header {
  border: 1px solid green;
  position: sticky;
  top: 0;
  background: lightgreen;
}

nav {
  border: 1px solid red;
  position: sticky;
  top: 44px;
  background: lightcoral;
}

section.blocks {
  border: 1px solid blue;
}

footer {
  position: sticky;
  border: 1px solid orange;
  bottom: 0;
  background: lightsalmon;
}
