@import "https://margin-dev.github.io/main.css";
/*
.slides {
    --slides-width: 100vw;
    --slides-height: auto;
    /* --slides-elements: 12; */ /* defined with JavaScript 
    --slides-elements-displayed: 4;
    --slides-element-width: calc(var(--slides-width) / var(--slides-elements-displayed));
    --slides-animation-duration: calc(var(--slides-elements) * 3s);
  }
  
  .slides {
    width: var(--slides-width);
    height: var(--slides-height);
    background-color: #111;
    color: #eee;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .slides:before, .slides:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .slides:before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
  }
  .slides:after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
  }
  .slides-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--slides-animation-duration) linear infinite;
    margin: 0;
  }
   .slides-content:hover {
    animation-play-state: paused;
  } 
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--slides-element-width) * var(--slides-elements))); }
  }
  .slides-content li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    width: var(--slides-element-width);
    max-height: 100%;
    font-size: calc(var(--slides-height)*3/4);
    white-space: nowrap;
    padding: 10px;
    background: linear-gradient(90deg, transparent, transparent, var(--primary30));
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
  }
  
  .slides-content li span {
      font-size: 12px;
      color: white;
      background: var(--primary);
      padding: 4px 10px;
      border-radius: 999px;
  }
  
  .slides-content li img {
      width: 100px;
      height: auto;
  }
  
  .slides-content li a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
  }
  
  @media (max-width: 600px) {
    html { font-size: 12px; }
    :root {
      --slides-width: 100vw;
      --slides-height: 16vh;
      --slides-elements-displayed: 3;
    }
    .slides:before, .slides:after { width: 5rem; }
  }
  */


.slides {
    --duration: 10s;
    --space: 3rem;
    --gap: var(--space);
    --bg: black;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: var(--bg);
    display: flex;
  }
  .slides__left{
    left: 0px;
    position: absolute;
    z-index: 999;
    backdrop-filter: blur(10px);
    padding: 5px 35px 5px 15px;
    top: 0px !important;
    margin: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
    clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
    background: linear-gradient(180deg, rgba(29,3,61,1) 0%, rgba(88,9,185,1) 78%, rgba(104,49,171,1) 100%);
    overflow-x: hidden;
    color: white;
    gap: 10px;
  }
  .slides__left svg{
    width: 20px;
  }
  .slides__left{
    left:0;
    clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
    padding-left: 20px;
    padding-right: 40px;
  }
  .slides__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
  }
  

  .slides__group > a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    object-fit: cover;
    padding: 3rem;
    white-space: nowrap;
    padding: 10px;
    background: linear-gradient(90deg, transparent, transparent, var(--primary30));
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
  }
  .slides__group > a > img {
    width: 100px;
    height: auto;
}
  .slides__group > a > span {
    font-size: 12px;
    color: white;
    background: var(--primary);
    padding: 4px 10px;
    border-radius: 999px;
}

.slides__group:hover{
    animation-play-state: paused;
}
    
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  