@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
.link-body {
    background: rgb(41, 41, 41) !important;
    background: linear-gradient(128deg, rgba(41, 41, 41, 1) 0%, rgba(20, 20, 22, 1) 39%, rgba(0, 0, 0, 1) 67%, rgba(32, 32, 32, 1) 100%) !important;
}
body * {
    font-family: "Urbanist", sans-serif !important
}

.mb-2, .my-2 {
    margin-bottom: 6px !important;
}
.mt-2, .my-2 {
    margin-top: 6px !important;
}