@import "https: //margin-dev.github.io/colors.css";
/* widget styles */
.widget {
	border: 1px solid #bababa;
	border-radius: 5px;
	background: #fff;
	font-size: 14px;
	padding: 10px;
	max-width: 900px;
	width: 100%;
}
.widget .control-links {
	border-top: 1px dotted #ddd;
	text-align: center;
	overflow: hidden;
	margin: 10px 0 0;
	padding: 10px 1px 0;
}
.widget .control-links .switcher-holder {
	display: inline-block;
}
.widget .btn-prev, .widget .btn-next {
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 26px;
	height: 26px;
	color: #ccc;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	float: left;
}
.widget .btn-next {
	float: right;
}
.widget .btn-prev:hover, .widget .btn-next:hover {
	text-decoration: none;
	border-color: #000;
	color: #000;
}
.widget .btn-prev:active, .widget .btn-next:active {
	margin: 1px -1px -1px 1px;
}
.widget .switcher {
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
}
.widget .switcher li {
	margin: 0 5px 0 0;
	float: left;
}
.widget .switcher li a {
	border: 1px solid transparent;
	border-radius: 5px;
	text-align: center;
	float: left;
	color: #000;
	padding: 0 10px;
	height: 26px;
	line-height: 26px;
}
.widget .switcher li a:hover {
	border-color: #eee;
	text-decoration: none;
}
.widget .switcher li a:active {
	line-height: 28px;
}
.widget .switcher .active a {
	background: #777;
	color: #fff;
}
.widget .switcher .active a:hover {
	border-color: transparent;
}
.widget .switcher .lava-item a {
	text-indent: -9999px;
	display: block;
	float: none;
}
.widget .switcher .lava-anim-to a {
	border-color: transparent !important;
}
/* slideset styles */
.widget .slideset {
	position: relative;
	list-style: none;
	height: 256px;
	padding: 0;
	margin: 0;
}
.widget .slideset li {
	position: absolute;
	overflow: hidden;
	background: #fff;
	top: 0;
	left: 0;
	z-index: 1;
	-webkit-transition: opacity 1.5s;
	-o-transition: opacity 1.5s;
	transition: opacity 1.5s;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: var(--primary);
	mask-image: url('data:image/svg+xml,<svg width="90" height="75" viewBox="0 0 90 75" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M40.6396 29H34.2071L43.8559 38.6488L40.6396 29ZM41.6937 29H48.3063L45 38.9189L41.6937 29ZM49.3604 29H55.7929L46.1441 38.6488L49.3604 29ZM32.8964 27.8964L36.7929 24H37.6036H52.8964H53.2071L53.4571 24.25L57.1036 27.8964L57.7071 28.5L45.3536 40.8536L45 41.2071L32.2929 28.5L32.8964 27.8964ZM34.2071 28L37 25.2071L39.7929 28H34.2071ZM42.2071 28L45 25.2071L47.7929 28H42.2071ZM50.2071 28L53 25.2071L55.7929 28H50.2071ZM46.2071 25H51.7929L49 27.7929L46.2071 25ZM41 27.7929L43.7929 25H38.2071L41 27.7929ZM8.70711 -15L0.353553 -6.64645L0 -6.29289V-15H8.70711ZM2.13962 -15L0 -8.58114V-15H2.13962ZM7.29289 -15L1.14412 -8.85123L3.19371 -15H7.29289ZM90 -6.29289L81.2929 -15H90V-6.29289ZM82.7071 -15L88.8559 -8.85123L86.8063 -15H82.7071ZM90 -8.58114L87.8604 -15H90V-8.58114ZM0 66.5H7.89645H8.20711L8.45711 66.75L12.1036 70.3964L12.7071 71L8.70711 75H0L0 66.5ZM0 71.5H3.30629L2.13962 75H0V71.5ZM7.29289 75L10.7929 71.5H4.36038L3.19371 75H7.29289ZM0 67.7071L2.79289 70.5H0L0 67.7071ZM5.20711 70.5L8 67.7071L10.7929 70.5H5.20711ZM1.20711 67.5H6.79289L4 70.2929L1.20711 67.5ZM90 66.5H82.6036H81.7929L77.8964 70.3964L77.2929 71L81.2929 75H90V66.5ZM82.7071 75L79.2071 71.5H85.6396L86.8063 75H82.7071ZM90 71.5H86.6937L87.8604 75H90V71.5ZM79.2071 70.5L82 67.7071L84.7929 70.5H79.2071ZM90 67.7071L87.2071 70.5H90V67.7071ZM86 70.2929L88.7929 67.5H83.2071L86 70.2929ZM76.4663 -2.17336L77.1734 -1.46625L60.2028 15.5043L59.4957 14.7972L76.4663 -2.17336ZM77.1734 61.4663L76.4663 62.1734L59.4957 45.2028L60.2028 44.4957L77.1734 61.4663ZM13.5337 62.1734L12.8266 61.4663L29.7972 44.4957L30.5043 45.2028L13.5337 62.1734ZM12.8266 -1.46625L13.5337 -2.17336L30.5043 14.7972L29.7972 15.5043L12.8266 -1.46625ZM0 27.5C1.10457 27.5 2 28.3954 2 29.5C2 30.6046 1.10457 31.5 0 31.5V27.5ZM90 27.5C88.8954 27.5 88 28.3954 88 29.5C88 30.6046 88.8954 31.5 90 31.5V27.5ZM47 -15C47 -13.8954 46.1046 -13 45 -13C43.8954 -13 43 -13.8954 43 -15H47ZM47 75C47 73.8954 46.1046 73 45 73C43.8954 73 43 73.8954 43 75H47Z" fill="%230F853D"/></svg>');
}
.widget .slideset li.active {
	z-index: 2;
	opacity: 1;
}
.widget .slideset li img {
	margin: 0 0 0 25px;
	height: 256px;
	width: auto;
}