@import "https://margin-dev.github.io/main.css";

.widget {
	border-radius: 5px;
	font-size: 14px;
	width: 100%;
	position: relative;
}
.widget[data-controls="true"] .control-links {
	display: flex;
}
.widget .control-links {
	text-align: center;
	overflow: hidden;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-image: linear-gradient(180deg, #000000bd, transparent);
	z-index: 3;
	height: 50px;
}
.widget .control-links .switcher-holder {
	display: inline-block;
}

.widget .switcher {
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
}
.widget .switcher li {
	margin: 0 5px 0 0;
	float: left;
}
.widget .switcher li button {
	border: 1px solid transparent;
	border-radius: 5px;
	text-align: center;
	float: left;
	color: #FFF;
	padding: 0 10px;
	height: 26px;
	line-height: 26px;
	background: #0F0F0F4D;
}
.widget .switcher li button:hover {
	border-color: #eee;
	text-decoration: none;
}
.widget .switcher li a:active {
	line-height: 28px;
}
.widget .switcher .active button {
	background: var(--primary);
	color: #fff;
}
.widget .switcher .active a:hover {
	border-color: transparent;
}
.widget .slideset {
	position: relative;
	background: #0F0F0F;
	list-style: none;
	min-height: 110px;
	padding: 10px;
	margin: 0;
	padding-bottom: 50px;
}
.widget[data-controls="true"] .slideset {
	min-height: 160px;
}
.widget .slideset > .slide {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 2;
	-webkit-transition: opacity 1.5s;
	-o-transition: opacity 1.5s;
	transition: opacity 1.5s;
	opacity: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 60px;
	padding-right: 60px;
	gap: 20px;
	justify-content: space-between;
	color: white;
	cursor: pointer;
	text-decoration: none;
}
.widget .slideset > .slide.vips {
	box-shadow: 0 0 20px var(--primary);
}
.widget[data-controls="true"] .slideset > .slide {
	padding-bottom: 50px;
}
.widget .slideset > .slide:after {
	z-index: -1;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200%;
	height: 200%;
	background-color: var(--primary);
	mask-image: url('data:image/svg+xml,<svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M40.6396 44H34.2071L43.8559 53.6488L40.6396 44ZM41.6937 44H48.3063L45 53.9189L41.6937 44ZM49.3604 44H55.7929L46.1441 53.6488L49.3604 44ZM32.8964 42.8964L36.7929 39H37.6036H52.8964H53.2071L53.4571 39.25L57.1036 42.8964L57.7071 43.5L45.3536 55.8536L45 56.2071L32.2929 43.5L32.8964 42.8964ZM34.2071 43L37 40.2071L39.7929 43H34.2071ZM42.2071 43L45 40.2071L47.7929 43H42.2071ZM50.2071 43L53 40.2071L55.7929 43H50.2071ZM46.2071 40H51.7929L49 42.7929L46.2071 40ZM41 42.7929L43.7929 40H38.2071L41 42.7929ZM8.70711 0L0.353553 8.35355L0 8.70711V0H8.70711ZM2.13962 0L0 6.41886V0H2.13962ZM7.29289 0L1.14412 6.14877L3.19371 0H7.29289ZM90 8.70711L81.2929 0H90V8.70711ZM82.7071 0L88.8559 6.14877L86.8063 0H82.7071ZM90 6.41886L87.8604 0H90V6.41886ZM0 81.5H7.89645H8.20711L8.45711 81.75L12.1036 85.3964L12.7071 86L8.70711 90H0L0 81.5ZM0 86.5H3.30629L2.13962 90H0V86.5ZM7.29289 90L10.7929 86.5H4.36038L3.19371 90H7.29289ZM0 82.7071L2.79289 85.5H0L0 82.7071ZM5.20711 85.5L8 82.7071L10.7929 85.5H5.20711ZM1.20711 82.5H6.79289L4 85.2929L1.20711 82.5ZM90 81.5H82.6036H81.7929L77.8964 85.3964L77.2929 86L81.2929 90H90V81.5ZM82.7071 90L79.2071 86.5H85.6396L86.8063 90H82.7071ZM90 86.5H86.6937L87.8604 90H90V86.5ZM79.2071 85.5L82 82.7071L84.7929 85.5H79.2071ZM90 82.7071L87.2071 85.5H90V82.7071ZM86 85.2929L88.7929 82.5H83.2071L86 85.2929ZM76.4663 12.8266L77.1734 13.5337L60.2028 30.5043L59.4957 29.7972L76.4663 12.8266ZM77.1734 76.4663L76.4663 77.1734L59.4957 60.2028L60.2028 59.4957L77.1734 76.4663ZM13.5337 77.1734L12.8266 76.4663L29.7972 59.4957L30.5043 60.2028L13.5337 77.1734ZM12.8266 13.5337L13.5337 12.8266L30.5043 29.7972L29.7972 30.5043L12.8266 13.5337ZM0 42.5C1.10457 42.5 2 43.3954 2 44.5C2 45.6046 1.10457 46.5 0 46.5V42.5ZM90 42.5C88.8954 42.5 88 43.3954 88 44.5C88 45.6046 88.8954 46.5 90 46.5V42.5ZM47 0C47 1.10457 46.1046 2 45 2C43.8954 2 43 1.10457 43 0H47ZM47 90C47 88.8954 46.1046 88 45 88C43.8954 88 43 88.8954 43 90H47Z" fill="black"/></svg>');
	opacity: 0.2;
	pointer-events: none;
}
.widget .slideset > .slide.active {
	z-index: 3;
	opacity: 1;
}

.widget button:is(.btn-prev, .btn-next) {
	position: absolute;
	display: grid;
	place-items: center;
	background-color: #FFFFFF4D;
	outline: none;
	border: none;
	width: 40px;
	min-width: 40px;
	height: 40px;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
	z-index: 4;
}

.widget button.btn-prev {
	left: 10px;
}
.widget button.btn-next {
	right: 10px;
}


.widget button:is(.btn-prev, .btn-next):is(:hover, :focus-visible) {
	background-color: #FFFFFF;
}
.widget button:is(.btn-prev, .btn-next):is(:hover, :focus-visible):after {
	border-color: #000;
}
.widget button:is(.btn-prev, .btn-next):after {
	content: "";
	width: 10px;
	height: 10px;
	border: 2px solid var(--primary);
}
.widget button.btn-prev:after {
	margin-left: 5px;
	border-right: transparent;
	border-top: transparent;
	transform: rotate(45deg);
}
.widget button.btn-next:after {
	margin-right: 5px;
	border-left: transparent;
	border-top: transparent;
	transform: rotate(-45deg);
}

.widget button:is(.btn-prev, .btn-next).rounded {
	border-radius: 40px;
}
.widget button:is(.btn-prev, .btn-next).full {
	height: 100%;
}
.widget button.btn-prev.full {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	left: 0;
	background-color: transparent;
	background-image: linear-gradient(-90deg, #00000000 0%, var(--primary30) 100%);
}
.widget button.btn-next.full {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	right: 0;
	background-color: transparent;
	background-image: linear-gradient(90deg, #00000000 0%, var(--primary30) 100%);
}
.widget button:is(.btn-prev, .btn-next).full:is(:hover, :focus-visible):after {
	border-color: var(--primary);
	scale: 1.2;
}


.widget .slideset > .slide img {
	max-width: 140px;
	height: auto;
}
.widget .slideset > .slide > .bonuswrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 0;
}
.widget .slideset > .slide > .bonuswrapper p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: normal;
}
.widget .slideset > .slide > .bonuswrapper p:nth-child(even) {
	font-weight: bold;
	color: var(--primary);
}
.widget .slideset > .slide > .actionwrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
}
.widget .slideset > .slide > .actionwrapper > p {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
}
.widget .slideset > .slide > .actionwrapper > .action {
	width: 100%;
	height: 30px;
	background-color: var(--primary);
	color: #FFF;
	border: 0;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 990px) {
	.widget .slideset > .slide {
		padding-left: 30px;
		padding-right: 30px;
		gap: 10px;
	}

	.widget .slideset > .slide > .actionwrapper > p {
		height: 50px;
	}

	.widget .slideset > .slide img {
		max-width: 120px;
		height: auto;
	}

	.widget .slideset > .slide > .bonuswrapper p {
		font-size: 14px;
	}
}

@media only screen and (max-width: 460px) {
	.widget .slideset > .slide {
		padding-left: 30px;
		padding-right: 30px;
		gap: 4px;
		flex-direction: column-reverse;
		justify-content: space-evenly;
	}

	.widget .slideset > .slide > .actionwrapper {
		flex-direction: row;
		width: 100%;
		gap: 10px;
		justify-content: space-evenly;
	}
	.widget .slideset > .slide > .actionwrapper > .action {
		width: 120px;
	}
	.widget .slideset > .slide img {
		max-width: 120px;
		height: auto;
	}

	.widget .slideset > .slide > .bonuswrapper p {
		font-size: 12px;
	}
}