@import "https://margin-dev.github.io/main.css";

.mrq-parent {
  margin: 0;
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.brand-marquee-container {
  --max-h:50px;
  --font: Outfit, sans-serif;
  --color: #fff;
  --bg: #0f0f0f;
  --gap:10px;
}
.brand-marquee-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 40px;
  z-index: 9999;
  display: flex;
  background: var(--bg);
}
.brand-marquee-list {
  display: flex;
  width: 100%;
  align-items: center;
  height: var(--max-h);
}
.brand-marquee {
  --item-bg: linear-gradient(45deg,transparent,var(--primary30));
  background: var(--item-bg);
  display: flex;
  align-items:center;
  justify-content: flex-end;
  text-decoration: none !important;
  transition: 2s ease opacity;
  white-space: nowrap;
  gap: var(--gap);
  padding:10px;
  border-top-right-radius:9999px;
  border-bottom-right-radius:9999px;
  cursor:pointer;
  height: 100%;
  width:100%;
  max-width: 200px;
  min-width: 200px;
}
.brand-marquee-brand{
  max-width: 80px;
  height:auto;
  width:100%;
}
.brand-marquee-action {
  display:flex;
  align-items:center;
  justify-content:center;
  padding:4px 10px;
  color:white;
  background:var(--primary);
  border-radius:999px;
  font-size:12px;
}
.brand-marquee * {
  margin: 0;
}

