@import "https://margin-dev.github.io/main.css";

.mrq-parent {
  margin: 0;
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.brand-marquee-container {
  --max-h:30px;
  --font: Outfit, sans-serif;
  --color: #fff;
  --bg: #0f0f0f;
  --gap:10px;
}
.brand-marquee-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 40px;
  z-index: 9999;
}
.brand-marquee-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap:10px;
  height: 50px;
  background: var(--bg);
}
.brand-marquee {
  --item-bg: linear-gradient(var(--primary),var(--primary));
  backdrop-filter: blur(5px);
  background: var(--item-bg);
  display: flex;
  text-decoration: none !important;
  transition: 2s ease opacity;
  white-space: nowrap;
  gap: var(--gap);
  padding:10px;
  border-radius:9999px;
  align-items:center;
  cursor:pointer;
}
.brand-marquee-brand{
  height:100%;
  max-height:var(--max-h);
  width:auto;
}
.brand-marquee-action {
  display:flex;
  align-items:center;
  justify-content:center;
  padding:4px 10px;
  color:white;
  background:var(--primary);
  border-radius:999px;
  font-size:12px;
}
.brand-marquee * {
  margin: 0;
}

