
.alert-popup {
    position: fixed;
    z-index: 100;
    background: #0000004d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    --rad: 8px;
    inset: 0;
}



.alert-popup-item {
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    background: #000000;
    padding: 10px 30px;
    align-items: center;
    justify-items: center;
    box-shadow: 0 0 0px 2px var(--primary);
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.5px;
    border-radius: var(--rad);
    color: white!important;
    height: 180px;
    text-decoration: none!important;
    width: 300px;
}

.stacked .alert-popup-item {
    position: absolute;
}

.alert-popup-bonus {
    display: flex;
    flex-direction: column;
}
.alert-popup-bonus>span:nth-child(even){
  color:var(--primary);
  font-weight: 500;
}

.alert-popup-item > img {
    max-width: 160px;
    height: auto;
}

.alert-popup-item > span {
    height: 32px;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: var(--rad);
}
.alert-popup-close {
  position: absolute;
  top:10px;
  right:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  outline: none;
  color: var(--primary);
  font-size: 20px;
}